<nav class="navbar navbar-toggleable-md navbar-inverse 
     navbar-expand-sm navbar-dark bg-warning text-secondary 
     fixed-top bg-custom-gradient-purple">
    <a class="navbar-brand text-secondary" href="?">Inicio</a>
    <button class="navbar-toggler" 
            type="button" 
            data-toggle="collapse" 
            data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" 
         id="collapsibleNavbar">
        <ul class="nav nav-pills"> 
            <!-- Item -->
            <li class='nav-item dropdown activeLogin'>
                    <a class='nav-link dropdown-toggle text-secondary' 
                       data-toggle='dropdown' href='#'>Clientes</a>
                    <div class='dropdown-menu'>
                        <a class='dropdown-item' href='?p=crearCliente'>Nuevo cliente</a>
                        <a class='dropdown-item' href='?p=listarClientes'>Lista de clientes</a>
                    </div>
                </li> 
            <!-- Item -->
            <li>

            </li>
        </ul>
    </div>
    <a class="navbar-brand text-secondary btnLogout activeLogin" href="#">Logout</a>
    <a class="navbar-brand text-secondary btnLogin inactiveLogin" href="#">Login</a>
</nav>