#cabecera{
    margin-top: 56px;
}

#cabecera .jumbotron,
#pie_pagina footer{
    margin-bottom: 0px !important;
}

#contenido_principal .container{
    margin-top: 20px;
    margin-bottom: 20px;
}

.hide{
    display: none;
}

.delete, .edit{
    cursor: pointer;
}

table,tr,td{
    text-align: right !important;
    border: 1px solid #dee2e6;
}

input.filtro, 
select.filtro{
    position: relative;
    width: 70px;
    padding: 0px;
    margin:0px;
    font-size: 12px;
    text-align: center;
}

#mask{
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    z-index: -2000;
    transition: all ease-in-out 1s;
}

#mask.show{
    z-index: 2000;
    background-color: rgba(0,0,0,.3);
}

#mask .msg{
    transition: all ease-in-out 1s;
    position: relative;
    background-color: #fff;
    border: 2px solid #999;
    width:450px;
    padding: 5px;
    border-radius: 10px;
    margin: auto;
    margin-top: -200px;
}

#mask.show .msg{
    margin-top:200px;
}