<main class="container">
    <form id="frmCrear">
        <div class="row">
            <div class="col-12">
                <h2>Nuevo cliente!</h2>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label>Tipo identificacion:</label>
                    <select class="form-control" id="tipoIdentificacion" name="tipo_identificacion" required>
                        <option value="1">TI</option>
                        <option value="2">CC</option>
                        <option value="3">CE</option>
                        <option value="4">PASAPORTE</option>
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label>Identificacion:</label>
                    <input type="number" class="form-control" id="identificacion" name="identificacion" required />
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label>Nombre:</label>
                    <input type="text" class="form-control" id="nombres" name="nombres" required />
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label>Apellidos:</label>
                    <input type="text" class="form-control" id="apellidos" name="apellidos"  />
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label>Fecha nacimiento:</label>
                    <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento" required />
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label>Ciudad de nacimiento:</label>
                    <select class="form-control" id="ciudadNacimiento" name="ciudadNacimiento" required>
                        <option value="1">Bogota</option>
                        <option value="2">Cali</option>
                        <option value="3">Medellin</option>
                        <option value="4">Popayan</option>
                        <option value="4">Pasto</option>
                    </select>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Enviar</button>
                    <button type="reset" class="btn btn-warning">Limpiar</button>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-12 alert alert-success hide">
            <strong>Success!</strong>
            <p></p>
        </div>
    </div>
</main>
<script src="appclient/js/crearCliente.js" type="text/javascript"></script>