<main class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead class="bg-primary navbar-dark text-white">
                    <tr>
                        <th>Id</th>
                        <th>
                            Tipo Identificacion
                            <!--<input type="text" id='tipoIdentificacion' class="filtro"/>-->
                        </th>
                        <th>
                            Identificacion
                            <input type="number" id='identificacion' class="filtro"/>
                        </th>
                        <th>
                            Nombres
                            <input type="text" id='nombres' class="filtro"/>
                        </th>
                        <th>
                            Apellidos
                            <input type="text" id='apellidos' class="filtro"/>
                        </th>
                        <th>
                            Fecha Nacimiento
                            <select  id='operador' class="filtro" >
                                <option value='0'>=</option>
                                <option value='1'>></option>
                                <option value='2'><</option>
                                <option value='3'>>=</option>
                                <option value='4'><=</option>
                            </select>
                            <input type="number" id='edad' placeholder="edad" class="filtro" min='0' max='100'/>
                        </th>
                        <th>Ciudad Nacimiento</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody ></tbody>
            </table>
        </div>
    </div>
</main>
<script src="appclient/js/listarClientes.js" type="text/javascript"></script>